<p style="color: green"><%= notice %></p>

<%= render @tapicerium %>

<% if @tapicerium.image.attached? %>
  <p>
    <%= image_tag @tapicerium.image %>
  </p>
<% end %>

<div>
  <%= link_to "Edit this tapicerium", edit_tapicerium_path(@tapicerium) %> |
  <%= link_to "Back to tapiceria", tapiceria_path %>

  <%= button_to "Destroy this tapicerium", @tapicerium, method: :delete %>
</div>
