<p style="color: green"><%= notice %></p>

<%= render @color %>

<% if @color.image.attached? %>
  <p>
    <%= image_tag @color.image %>
  </p>
<% end %>

<div>
  <%= link_to "Edit this color", edit_color_path(@color), class: "btn btn-primary" %> |
  <%= link_to "Back to colors", colors_path, class: "btn btn-primary" %>
  <br><br>
  <%= button_to "Destroy this color", @color, method: :delete, class: "btn btn-danger" %>
</div>
