<p style="color: green"><%= notice %></p>

<%= render @extra %>

<% if @extra.image.attached? %>
  <p>
    <%= image_tag @extra.image %>
  </p>
<% end %>

<div>
  <%= link_to "Edit this extra", edit_extra_path(@extra), class: "btn btn-primary" %> |
  <%= link_to "Back to extras", extras_path, class: "btn btn-primary" %>
  <br><br>
  <%= button_to "Destroy this extra", @extra, method: :delete, class: "btn btn-danger" %>
</div>
